*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-image: url(../images/pricing.jpg);
	background-position: center;
	size: 100%;
	background-size: cover;
	font-family: sans-serif;
}
h1{
	padding: 1px;
	margin-left: 60px;
	margin-top: 50px;
	color: red;
}
.head{
	margin-left: 60px;
	margin-top: 60px;
	color: blue;
}
.ref{
	text-align: center;
	align-items: center;
}